# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDE files
.idea/
.vscode/

# Build files
dist/
build/

words/*
!words/.gitkeep
!words/example_one_txt_file
!words/example_two_txt_files